<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_HOME">/data/logs/tingxuelou</Property>
        <Property charset="UTF-8" name="PATTERN_STYLE">
            <!--            time[%d{yyyy-MM-dd HH:mm:ss.SSS}] traceid[%X{jdb_traceid}] uri[%X{mdc_uri}] thread[%t] level[%p] class[%c] appname[%appname] %msg%n-->
            time[%d{yyyy-MM-dd HH:mm:ss.SSS}] thread[%t] %msg%n
        </Property>
    </Properties>

    <Appenders>
        <RollingRandomAccessFile name="FILE" fileName="${LOG_HOME}/tingxuelou.log" filePattern="${LOG_HOME}/dhbox.log.%d{yyyy-MM-dd}">
            <PatternLayout charset="UTF-8" pattern="${PATTERN_STYLE}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="ERROR_LOG" fileName="${LOG_HOME}/tingxuelou_error.log" filePattern="${LOG_HOME}/dhbox_error.log.%d{yyyy-MM-dd}">
            <PatternLayout charset="UTF-8" pattern="${PATTERN_STYLE}"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="DEBUG"/>
        <Logger name="java.sql.Connection" level="DEBUG"/>
        <Logger name="com.alibaba.dubbo" level="DEBUG"/>
        <Logger name="org.apache" level="DEBUG"/>

        <Root level="DEBUG">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="ERROR_LOG"/>
        </Root>
    </Loggers>
</Configuration>
